:root {
  --black: #161718;
  --white-100: #eaeaec;
  --white-200: #eeeef7;

  --text: var(--black);
  --background: var(--white-100);

  --primary: #85afe4;
  --secondary: #cddaea;
  --accent: #6b6f76;
}

h1 {
  margin-block: 1.1rem;
}

h2,
h3 {
  margin-block: 1.3rem;
}

h4,
h5,
h6 {
  margin-block: 0 1.7rem;
}

label,
input {
  display: block;
}

label {
  padding-block: 1rem 0.5rem;
}

input {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30ch), 1fr));
  gap: 1rem;
}
