---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="main-section">
    <div class="main-section__text">
      <h1>Kontak</h1>
      <p>Kami beroperasi dalam SMK Metland udah gitu aja</p>
    </div>
  </section>
</BaseLayout>
