---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Tentang kami</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores veniam
    praesentium deserunt dolor cum, eum at ea, odio repudiandae nisi
    necessitatibus non sed sint expedita quisquam asperiores enim labore
    ratione!
  </p>
</BaseLayout>
