---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="main-section">
    <div class="main-section__text">
      <h1>Tentang kami</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores veniam
        praesentium deserunt dolor cum, eum at ea, odio repudiandae nisi
        necessitatibus non sed sint expedita quisquam asperiores enim labore
        ratione!
      </p>
    </div>
  </section>
</BaseLayout>
