---
const { isLink, href } = Astro.props;
---

{
  isLink ? (
    <a href={href} class="cta">
      <slot />
    </a>
  ) : (
    <button class="cta">
      <slot />
    </button>
  )
}

<style>
  .cta {
    display: inline-block;
    outline: 2px solid var(--accent, black);
    padding: 0.5rem 1rem;
    margin-block: 0.5rem;
  }

  .cta:hover {
    outline: none;
    background: var(--black);
    color: var(--white);
  }

  a.cta {
    color: inherit;
    text-decoration: none;
  }
</style>
