---
const { isLink, href } = Astro.props;
---

{
  isLink ? (
    <a href={href} class="cta">
      <slot />
    </a>
  ) : (
    <button class="cta">
      <slot />
    </button>
  )
}

<style>
  .cta {
    display: inline-block;
    outline: 2px solid var(--accent, black);
    padding: 1rem;
  }

  a.cta {
    color: inherit;
    text-decoration: none;
  }
</style>
