---
const { menuItem } = Astro.props;
const frontmatter = menuItem.data;
---

<li class="menu-item">
  <article>
    <figure>
      <img
        src={frontmatter.gambar.src}
        alt={frontmatter.gambar.alt}
        width="300"
        height="200"
      />
    </figure>

    <figcaption>
      <h4>{frontmatter.nama}</h4>
      <p>{frontmatter.harga}</p>
    </figcaption>
  </article>
</li>

<style>
  .menu-item {
    padding: 2rem;
    outline: 2px solid black;
  }
</style>
