<nav>
  <ul>
    <li><a href="#">Beranda</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Tentang Kami</a></li>
    <li><a href="#">Kontak</a></li>
  </ul>
</nav>

<style>
  nav {
    background: dodgerblue;
    display: flex;
  }

  nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }

  nav a:hover {
    backdrop-filter: invert(0.2);
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
  }
</style>
